.btn,input[type="submit"],input[type="reset"],input[type="button"] {
  position: relative;
  display: inline-block;
  padding: 18px 30px;
  font-size: 11px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  background-color: #222325;
  text-align: center;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  outline: 0;
}

.btn::after,input[type="submit"]::after,input[type="reset"]::after,input[type="button"]::after {
  display: none;
}

.btn:hover,.btn :focus,.btn :active,input[type="submit"]:hover,input[type="submit"] :focus,input[type="submit"] :active,input[type="reset"]:hover,input[type="reset"] :focus,input[type="reset"] :active,input[type="button"]:hover,input[type="button"] :focus,input[type="button"] :active {
  color: #fff;
  background-color: #44464a;
  outline: 0;
}

.btn+.btn {
  margin-top: 2em;
}

@media (min-width: 350px) {
  .btn+.btn {
    margin-top: 0;
    margin-left: 2em;
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: .65;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

button:disabled:hover,button:disabled :focus {
  background-color: #222325;
}