<head>
  	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}

	<style class="inlineCSS">
		{% include assets/critical.css %}
	</style>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="preload" href="{{ '/assets/css/style.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	</noscript>

	<script type="text/javascript">
		{% include assets/loadCss.js %}
	</script>

</head>
