<nav class="header__links">
	<div class="container header__links-wrapper">

	  <a class="header__link" href="{{ '/blog' | relative_url }}" itemprop="url">
	  	<span itemprop="name">
	  	{% if site.data.strings.page-blog %}
	  		{{ site.data.strings.page-blog }}
	  	{% else %}
	  		Blog
	  	{% endif %}
	  	</span>
	  </a>

	  <a class="header__link" href="{{ '/categories' | relative_url }}" itemprop="url">
	  	<span itemprop="name">
	  	{% if site.data.strings.page-categories %}
	  		{{ site.data.strings.page-categories }}
	  	{% else %}
	  		Categories
	  	{% endif %}
	  </span>
	  </a>

	  <a class="header__link" href="{{ '/about' | relative_url }}" itemprop="url">
	  	<span itemprop="name">
	  	{% if site.data.strings.page-about %}
	  		{{ site.data.strings.page-about }}
	  	{% else %}
	  		About
	  	{% endif %}
	  	</span>
	  </a>

	  <a class="header__link" href="{{ '/contact' | relative_url }}" itemprop="url">
	  	<span itemprop="name">
	  	{% if site.data.strings.page-contact %}
	  		{{ site.data.strings.page-contact }}
	  	{% else %}
	  		Contact
	  	{% endif %}
	  	</span>
	  </a>
	  
	</div>
</nav>

<div class="header__toggle">
	<span></span>
	<span></span>
	<span></span>
</div>