<div class="controls__inner">
  <div class="controls__item prev">
    {% if paginator.previous_page %}
    <span>Previous</span>
    <a href="{{ paginator.previous_page_path }}">
      <i class='fa fa-angle-left'></i>
      Page: {{ paginator.previous_page }} of {{ paginator.total_pages }}
    </a>
    {% endif %}
  </div>

  <div class="controls__item next">
    {% if paginator.next_page %}
    <span>Next</span>
    <a href="{{ paginator.next_page_path }}">
      Page: {{ paginator.next_page }} of {{ paginator.total_pages }}
      <i class='fa fa-angle-right'></i>
    </a>
    {% endif %}
  </div>
</div>
