.to-top {
  position: fixed;
  display: block;
  text-align: center;
  right: 15px;
  bottom: 0;
  cursor: pointer;
  height: 35px;
  width: 35px;
  background-color: rgba(103,103,103,0.65);
  z-index: 2;
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 48em) {
  .to-top {
    right: 1.8em;
  }
}

.to-top.js-show {
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}

@media (min-width: 48em) {
  .to-top.js-show {
    -webkit-transform: translate3d(0, -28px, 0);
    transform: translate3d(0, -28px, 0);
  }
}

.to-top:hover {
  background-color: rgba(103,103,103,0.8);
}