<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

  {% include header.html %}

  {% if page.image %}
    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/{{page.image}}.jpg">
  {% else %}
    <div class="hero dark-bg">
  {% endif %}

    {% include post-metadata.html %}

    </div>
    </div>

    <main class="site__content">
      <div class="container">
        <article class="post-content" itemprop="articleBody">
          {{ content }}
        </article>

        {% include post-controls.html %}

    </main>

    {% include footer.html %}

  </body>

</html>
